name: Rust

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Package binary
      run: |
        mkdir dist
        cp target/debug/connl dist/
        tar -czf myapp-${GITHUB_REF_NAME}-macos.tar.gz -C dist connl
    - name: Upload Release Asset
      uses: softprops/action-gh-release@v2
      with:
        files: myapp-${GITHUB_REF_NAME}-macos.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
