name: Release

on:
  push:
    tags:
      - "v0.0.1" # run only when you push a version tag (ex: v1.0.0)

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build release
        run: cargo build --release

      - name: Package binary
        run: |
          mkdir dist
          cp target/release/myapp dist/
          tar -czf myapp-${GITHUB_REF_NAME}-macos.tar.gz -C dist myapp

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: myapp-${GITHUB_REF_NAME}-macos.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
